*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.proBox{
    padding: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid gray;
    .proBoxImg{
        width: 100%;
        img{
            width: 100%;
            height: 200px;
        }
    }
    .proBoxText{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 18px;
        }
        p{
            color: red;
        }
    }
}